@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  color: white;
  background-color: red;
  text-align: center;
}

.well {
  background-color: black;
  border: none;
}

.middle {
  margin-top: 10%;
}

.show {
  margin-top: 3%;
}

.info {
  text-align: left;
}

.btn {
  margin-left: 10px;
  border-radius: 20px;
  border-color: none;
  background-color: invisible;


}
.navbar, .navbar-default {
  list-style: none;
  color: white;
  background-color: red;
  border: none;

  li {
    display: inline;
  }

  .btn {
    background-color: red;
  }

}

img {
  float: left;
}

